.line {
    width: 100vw;
    height: 4px;
    background-color: #262626;
    position: fixed;
    bottom: 0;

}

#line {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;
    height: 4px;
    position: relative;
}

#line {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #b0b0b0;
    transform-origin: left;
    animation: lineAnimate 16s linear;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes lineAnimate {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }

    20% {
        transform: scalX(0.2);
        background-color: rgb(66, 152, 180);
        opacity: 1;

    }

    40% {
        transform: scalX(0.4);
        background-color: rgb(228, 174, 58);
        opacity: 1;
    }

    60% {
        transform: scalX(0.6);
        background-color: rgb(51, 164, 116);
        opacity: 1;
    }

    80% {
        transform: scalX(0.8);
        background-color: rgb(136, 97, 154);
        opacity: 1;
    }

    100% {
        transform: scalX(1);
        opacity: 1;

    }
}