.contents {
    position: relative;
    /* height: 43px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.contents h2 {
    position: absolute;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    letter-spacing: 3px;
    line-height: 2.5rem;
    width: 80%;
    overflow: hidden;
    opacity: 0;
    animation: typing 4s linear;
}

.contents h2:nth-child(1) {
    animation-delay: 4s;
}

.contents h2:nth-child(2) {
    animation-delay: 8s;
}

.contents h2:nth-child(3) {
    animation-delay: 12s;
}

.contents h2:nth-child(4) {
    animation-delay: 16s;
}

@keyframes typing {
    0% {
        width: 0;
        opacity: 1;
    }

    70% {
        width: 80%;
        opacity: 1;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

.title {
    opacity: 0;
    animation: showTitle 1ms linear forwards;
    animation-delay: 20s;
}

@keyframes showTitle {
    to {
        opacity: 1;
    }
}

.button {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
    overflow: hidden;
    border-radius: 2em;
    padding: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-width: 0.15em;
    transition: 2s;

}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(234, 234, 234, 0.5);
    transition: 2s;
}

.button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
    color: rgb(9, 9, 9);
    border-color: rgb(4, 4, 4);

}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
    transform: none;
    background-color: rgba(207, 207, 207, 0.5);
}

a {
    color: rgb(247, 247, 247);
    font-size: 2rem;
    font-family: BlackSongBold;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    animation: fillIt 500ms ease forwards;
    animation-delay: 22s;
}

#title path:nth-child(1) {
    stroke-dasharray: 308.15789794921875;
    stroke-dashoffset: 308.15789794921875;
    animation: moving 2s ease forwards;
    animation-delay: 20s;
}

#title path:nth-child(2) {
    stroke-dasharray: 411;
    stroke-dashoffset: 411;
    animation: moving 2s ease forwards;
    animation-delay: 20s;
}

#title path:nth-child(3) {
    stroke-dasharray: 528;
    stroke-dashoffset: 528;
    animation: moving 2s ease forwards;
    animation-delay: 20s;
}

#title path:nth-child(4) {
    stroke-dasharray: 733;
    stroke-dashoffset: 733;
    animation: moving 2s ease forwards;
    animation-delay: 20s;
}

@keyframes moving {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillIt {
    from {
        fill: transparent;
    }

    to {
        fill: rgb(15, 15, 15);
    }
}