.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
    margin: 0;
    padding: 10px 20px;
    padding-left: 3%;
    /* font-family: BlackSongRegualar; */

}

#logo {
    padding-top: 10px;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.part {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo #blue {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(40, 91, 243);
    animation: grow ease-in-out infinite 4s;
}

@keyframes grow {
    12.5% {
        height: 40px;
    }

    25% {
        height: 30px;
    }

    100% {
        height: 30px;
    }
}


#logo #yellow {
    background-color: rgb(171, 150, 44);
    animation: grow ease-in-out infinite 4s;
    animation-delay: 1s;
}

#logo #green {
    background-color: rgb(92, 136, 58);
    animation: grow ease-in-out infinite 4s;
    animation-delay: 2s;
}

#logo #purple {
    background-color: rgb(75, 54, 128);
    animation: grow ease-in-out infinite 4s;
    animation-delay: 3s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.header ul {
    align-items: center;
    display: flex;
}

.header li {
    padding: 5px 10px;
    text-decoration: none;
    list-style: none;
}

.header ul li a {
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.header ul li a.active {
    background-color: rgb(247, 247, 247);
    color: black;
}

.header ul li a:hover {
    background-color: rgb(40, 91, 243);
}

.header ul li a:hover {
    transform: translate(0, -8%);
}