*{
    font-family: HY;
    /* font-size: large; */
}
.back{
    position: absolute;
    bottom: 15px;
    left: 25px;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    background-image: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    border-radius: 15px;
    background-size: 400%;
}
.back:hover{
    animation: sun 8s infinite;
}
.back::before{
    content: '';
    position: absolute;
    top: -1.5px;
    bottom: -1.5px;
    left: -1.5px;
    right: -1.5px;
    border-radius: 15px;
    background-image: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    background-size: 400%;
    z-index: -1;
    filter: blur(20px);

}
@keyframes sun {
    100%{
        background-position: -400% 0;
    }
}

h2,h3{
    font-family: HY;
}
h1{
    font-family: HY;
    /* font-size: ; */
}
.discription{
    font-size: 17px;
    font-family: BlackSongBold;
    margin-right: 7vw;
}
@font-face {
    font-family: HY;
    src: url(./font/HYZhuXinKaiW.ttf);
}

@font-face {
    font-family: XX;
    src: url(./font/Slidexiaxing-Regular.ttf);
}
@font-face {
    font-family: BlackSongRegualar;
    src: url(./blackSong/寒蝉端黑宋_100font.com/寒蝉端黑宋/ChillDuanHeiSongRegular.otf);
}
@font-face {
    font-family: BlackSongBold;
    src: url(./blackSong/寒蝉端黑宋_100font.com/寒蝉端黑宋/ChillDuanHeiSongBold.otf);
}